@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i';

* {
  font-family: 'Roboto Mono', monospace;
}

body {
  font-family: 'Roboto Mono', monospace;
  background: #000010;
}

h1, h2, p {
  color: white;
}

@keyframes pulse {
  0% {
    opacity: 0;
    background-color: #313D5A;
    transform: scale(0.6);
  }
  10% {
    opacity: 1;
    background-color: white;
  }
  60% {
    transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

.button {
  background: #313D5A;

  &.stopped {
    background: gray;
  }

  &:hover {
    background: gray;
  }
}

.container {
  .header {
    h1 {
      text-align: center;
      color: #E2E2E2;
      font-size: 32px;
      margin-top: 60px;
      font-weight: bold;
      font-family: 'Roboto Mono', monospace;

      padding-bottom: 20px;
      span {
        color: #313D5A;
      }
    }
  }
}

#app {
  float: left;
  padding: 0px 25px;

  .drone-container {

    h1 {
      font-size: 24px;
      padding-left: 20px;
      font-family: 'Roboto Mono', monospace;
      font-weight: bold;
      text-transform: uppercase;

      &:before {
        content: '#';
        color: #DB3A34;
      }
    }

    .player {
      margin-right: 15px;
      margin-bottom: 15px;

      h1 {
        font-family: "Roboto Mono";
        font-size: 24px;
      }

      p {
        font-size: 12px;
      }
    }
  }

  .track {
    float: left;
    margin-bottom: 20px;
    padding-bottom: 10px;

    .controls {
      button {
        margin-top: -5px;
        float: right;
        margin-right: 30px;
        background: transparent;
        color: #E2E2E2;
        outline: none;
      }
    }
  }

  .track:last-child {
    border: none;
  }

  .set-menu {
    padding: 0px 20px;
  }

  .steps {
    padding: 0px;
  }

  .step-container {
    @media only screen and (min-width: 64.063em) {
      width: 12.5%;
    }
    text-align: center;
    float: left;
    padding: 0px 20px;
    .step {
      cursor: pointer;
      border-radius: 100px;
      width: 20px;
      background: #332E3C;
      border: none;
      height: 30px;
      color: transparent;
      text-align: center;
      outline: none;
    }
  }

  #track_one {
    .step.active[data-activesample="kick.wav"] {
      background: #E8C547;
    }
    .step.active[data-activesample="snare.wav"] {
      background: #8D5A97;
    }

    .step.active[data-activesample="hat.wav"] {
      background: #26547C;
    }

    .step.active[data-activesample="tom.wav"] {
      background: #F05D5E;
    }

    .step.active[data-activesample="rattle.wav"] {
      background: #FAA916;
    }

    .step.active[data-activesample="kick_alt.wav"] {
      background: #B80C09;
    }
  }
  #track_two {
    .step.active[data-activesample="kick.wav"] {
      background: #26547C;
    }
    .step.active[data-activesample="snare.wav"] {
      background: #EB6534;
    }

    .step.active[data-activesample="hat.wav"] {
      background: #A63A50;
    }

    .step.active[data-activesample="tom.wav"] {
      background: #887880;
    }

    .step.active[data-activesample="reso_kick.wav"] {
      background: #F78764;
    }

    .step.active[data-activesample="kick_snare.wav"] {
      background: #645E9D;
    }
  }

  #track_three {
    .step.active[data-activesample="drone_1.wav"] {
      background: #6E7E85;
    }
    .step.active[data-activesample="drone_2.wav"] {
      background: #BBBAC6;
    }

    .step.active[data-activesample="drone_3.wav"] {
      background: #B7CECE;
    }

    .step.active[data-activesample="drone_4.wav"] {
      background: #E2E2E2;
    }

    .step.active[data-activesample="drone_5.wav"] {
      background: #7F9172;
    }

    .step.active[data-activesample="drone_6.wav"] {
      background: #7261A3;
    }
  }



  @for $i from 0 through 16 {
    .step-container.playing:nth-child(#{$i + 1}) {
      .step {
        animation: pulse 2s $i * 0.125s infinite;
      }

    }
  }
}