@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i';

* {
  font-family: 'Roboto Mono', monospace;
}

body {
  font-family: 'Roboto Mono', monospace;
}

@keyframes pulse {
  0% {
    opacity: 0;
    background-color: red;
  }
  10% {
    opacity: 1;
    background-color: white;
  }
  100% {
    opacity: 1;
  }
}

.hidden {
  display: none;
}

.button {
  background: red;

  &.stopped {
    background: gray;
  }

  &:hover {
    background: gray;
  }
}

#app {
  float: left;
  padding: 50px 25px;

  .drone-container {

    h1 {
      font-size: 24px;
      padding-left: 20px;
      font-family: 'Roboto Mono', monospace;
      font-weight: bold;
      text-transform: uppercase;

      &:before {
        content: '#';
        color: red;
      }
    }

    .player {
      margin-right: 15px;
      margin-bottom: 15px;

      h1 {
        font-family: "Roboto Mono";
        font-size: 24px;
      }

      p {
        font-size: 12px;
      }
    }
  }

  .track {
    float: left;
    border-bottom: 1px dotted red;
    margin-bottom: 20px;
    padding-bottom: 10px;

    .controls {
      h1 {
        float: left;
        margin-right: 20px;
      }
      button {
        margin-top: -5px;
      }
    }
  }

  .track:last-child {
    border: none;
  }

  .set-menu {
    padding: 0px 20px;
  }

  .steps {
    padding: 0px;
  }

  .step-container {
    @media only screen and (min-width: 64.063em) {
      width: 12.5%;
    }
    float: left;
    padding: 0px 20px;
    .step {
      &.active {
        border-color: red;
        color: red;
      }
    }
  }

  @for $i from 0 through 16 {
    .step-container.playing:nth-child(#{$i + 1}) {
      .step {
        animation: pulse 2s $i * 0.125s infinite;
      }

    }
  }
}