@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i';
* {
  font-family: 'Roboto Mono', monospace; }

body {
  font-family: 'Roboto Mono', monospace;
  background: #000010; }

h1, h2, p {
  color: white; }

@keyframes pulse {
  0% {
    opacity: 0;
    background-color: #313D5A;
    transform: scale(0.6); }
  10% {
    opacity: 1;
    background-color: white; }
  60% {
    transform: scale(1); }
  100% {
    opacity: 1; } }

.hidden {
  display: none; }

.button {
  background: #313D5A; }
  .button.stopped {
    background: gray; }
  .button:hover {
    background: gray; }

.container .header h1 {
  text-align: center;
  color: #E2E2E2;
  font-size: 32px;
  margin-top: 60px;
  font-weight: bold;
  font-family: 'Roboto Mono', monospace;
  padding-bottom: 20px; }
  .container .header h1 span {
    color: #313D5A; }

#app {
  float: left;
  padding: 0px 25px; }
  #app .drone-container h1 {
    font-size: 24px;
    padding-left: 20px;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    text-transform: uppercase; }
    #app .drone-container h1:before {
      content: '#';
      color: #DB3A34; }
  #app .drone-container .player {
    margin-right: 15px;
    margin-bottom: 15px; }
    #app .drone-container .player h1 {
      font-family: "Roboto Mono";
      font-size: 24px; }
    #app .drone-container .player p {
      font-size: 12px; }
  #app .track {
    float: left;
    margin-bottom: 20px;
    padding-bottom: 10px; }
    #app .track .controls button {
      margin-top: -5px;
      float: right;
      margin-right: 30px;
      background: transparent;
      color: #E2E2E2;
      outline: none; }
  #app .track:last-child {
    border: none; }
  #app .set-menu {
    padding: 0px 20px; }
  #app .steps {
    padding: 0px; }
  #app .step-container {
    text-align: center;
    float: left;
    padding: 0px 20px; }
    @media only screen and (min-width: 64.063em) {
      #app .step-container {
        width: 12.5%; } }
    #app .step-container .step {
      cursor: pointer;
      border-radius: 100px;
      width: 20px;
      background: #332E3C;
      border: none;
      height: 30px;
      color: transparent;
      text-align: center;
      outline: none; }
  #app #track_one .step.active[data-activesample="kick.wav"] {
    background: #E8C547; }
  #app #track_one .step.active[data-activesample="snare.wav"] {
    background: #8D5A97; }
  #app #track_one .step.active[data-activesample="hat.wav"] {
    background: #26547C; }
  #app #track_one .step.active[data-activesample="tom.wav"] {
    background: #F05D5E; }
  #app #track_one .step.active[data-activesample="rattle.wav"] {
    background: #FAA916; }
  #app #track_one .step.active[data-activesample="kick_alt.wav"] {
    background: #B80C09; }
  #app #track_two .step.active[data-activesample="kick.wav"] {
    background: #26547C; }
  #app #track_two .step.active[data-activesample="snare.wav"] {
    background: #EB6534; }
  #app #track_two .step.active[data-activesample="hat.wav"] {
    background: #A63A50; }
  #app #track_two .step.active[data-activesample="tom.wav"] {
    background: #887880; }
  #app #track_two .step.active[data-activesample="reso_kick.wav"] {
    background: #F78764; }
  #app #track_two .step.active[data-activesample="kick_snare.wav"] {
    background: #645E9D; }
  #app #track_three .step.active[data-activesample="drone_1.wav"] {
    background: #6E7E85; }
  #app #track_three .step.active[data-activesample="drone_2.wav"] {
    background: #BBBAC6; }
  #app #track_three .step.active[data-activesample="drone_3.wav"] {
    background: #B7CECE; }
  #app #track_three .step.active[data-activesample="drone_4.wav"] {
    background: #E2E2E2; }
  #app #track_three .step.active[data-activesample="drone_5.wav"] {
    background: #7F9172; }
  #app #track_three .step.active[data-activesample="drone_6.wav"] {
    background: #7261A3; }
  #app .step-container.playing:nth-child(1) .step {
    animation: pulse 2s 0s infinite; }
  #app .step-container.playing:nth-child(2) .step {
    animation: pulse 2s 0.125s infinite; }
  #app .step-container.playing:nth-child(3) .step {
    animation: pulse 2s 0.25s infinite; }
  #app .step-container.playing:nth-child(4) .step {
    animation: pulse 2s 0.375s infinite; }
  #app .step-container.playing:nth-child(5) .step {
    animation: pulse 2s 0.5s infinite; }
  #app .step-container.playing:nth-child(6) .step {
    animation: pulse 2s 0.625s infinite; }
  #app .step-container.playing:nth-child(7) .step {
    animation: pulse 2s 0.75s infinite; }
  #app .step-container.playing:nth-child(8) .step {
    animation: pulse 2s 0.875s infinite; }
  #app .step-container.playing:nth-child(9) .step {
    animation: pulse 2s 1s infinite; }
  #app .step-container.playing:nth-child(10) .step {
    animation: pulse 2s 1.125s infinite; }
  #app .step-container.playing:nth-child(11) .step {
    animation: pulse 2s 1.25s infinite; }
  #app .step-container.playing:nth-child(12) .step {
    animation: pulse 2s 1.375s infinite; }
  #app .step-container.playing:nth-child(13) .step {
    animation: pulse 2s 1.5s infinite; }
  #app .step-container.playing:nth-child(14) .step {
    animation: pulse 2s 1.625s infinite; }
  #app .step-container.playing:nth-child(15) .step {
    animation: pulse 2s 1.75s infinite; }
  #app .step-container.playing:nth-child(16) .step {
    animation: pulse 2s 1.875s infinite; }
  #app .step-container.playing:nth-child(17) .step {
    animation: pulse 2s 2s infinite; }
